extends layout

block content
  table 
    tr
      th subject name
      th subject URL 
    each  subject in subjects
      tr 
        td 
          h3  #{subject.subjectname}
        td 
          a(href=`/units/${subject.subjectId}`) /units/#{subject.subjectId}